name: Build Plugin

on:
  push:
    branches: [ main ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Build plugin
        run: make dist

      - name: Upload plugin artifact
        uses: actions/upload-artifact@v4
        with:
          name: plugin-msteams
          path: dist/plugin-msteams.tar.gz
